In [6]:
# !pip install smart_open
import sagemaker
import boto3
import pandas as pd
from smart_open import open as s_open
import s3fs

In [45]:
def load_dfs(folder='stock_data_raw_with_3_mo_target'):
    bucket = sagemaker.Session().default_bucket()
    s3c = boto3.client('s3')
    s3f = s3fs.S3FileSystem()
    f_names = s3f.ls(f'{bucket}/{folder}')
    d = dict()
    for i, file_name in enumerate(f_names):
        with s_open(f's3://{file_name}') as f:
            df = pd.read_csv(f) 
            try:
                latest_change = df['low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90'].values[-2]
            except Exception as e:
                display(e)
                display(df)
            d[file_name] = latest_change
        if i%50==0:
            display(i)
    df = pd.Series(d)
    return df
#         target_added_df = main_target_add(df)
#         target_added_df.to_csv('temp.csv')
#         new_file_name = file_name.split('/')[-1].replace('.parquet', '_with_3_mo_target.csv')
#         new_file_path = '/'.join([new_folder, new_file_name])
#         s3c.upload_file('temp.csv', bucket, new_file_path)

In [ ]:
df1 = load_dfs()

0

50

100

150

IndexError('index -2 is out of bounds for axis 0 with size 1')

,Unnamed: 0,low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90,open,high,low,close,volume
0,2021-04-16,NaN,26.0,28.9559,24.0,26.05,3712712

200

250

300

IndexError('index -2 is out of bounds for axis 0 with size 1')

,Unnamed: 0,low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90,open,high,low,close,volume
0,2021-04-16,NaN,0.62,0.685,0.5,0.5399,46800

350

400

450

500

550

IndexError('index -2 is out of bounds for axis 0 with size 1')

,Unnamed: 0,low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90,open,high,low,close,volume
0,2021-04-16,NaN,20.0,22.22,16.55,18.6,3576775

IndexError('index -2 is out of bounds for axis 0 with size 1')

,Unnamed: 0,low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90,open,high,low,close,volume
0,2021-04-01,NaN,0.98,0.98,0.6913,0.7,6752

600

650

700

IndexError('index -2 is out of bounds for axis 0 with size 1')

,Unnamed: 0,low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90,open,high,low,close,volume
0,2021-04-01,NaN,10.0,10.1,9.6,9.62,9620

750

800

850

900

IndexError('index -2 is out of bounds for axis 0 with size 1')

,Unnamed: 0,low_window_20_shift_0_mean_percent_change_percent_lag_90_shift_-90,open,high,low,close,volume
0,2021-04-01,NaN,10.0,10.0,8.08,8.54,8789939

950

1000

1050

1100

1150

1200

1250

1300

1350

1400

1450

In [ ]:
df.sort_values(ascending=False)
df.to_pickle('sorted_percent_returns.pkl')