## Data Ingestion.

In [9]:
## if packages aren't installed yet, run the following line
# !pip install matplotlib seaborn pandas numpy pandas_datareader requests_cache

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline
## For reading stock data from yahoo
from pandas_datareader.data import DataReader
## the following package is used with the datareader to prevent overburdening the site.
import requests_cache
## For time stamps
from datetime import datetime, timedelta, date

In [11]:
## The tech stocks we'll use for this analysis
stock_list = ['GSIT', 'ICAD', 'XAIR', 'LTRN', 'ARKK', 'ARKF', 'ARKW']
## Set up End and Start times for data grab
end = datetime.now()
start = datetime(end.year - 5, end.month, end.day)

## set up cache
expire_after = timedelta(days=1)
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)

## For loop for grabing yahoo finance data and setting as a dataframe
for stock in stock_list:   
    ## Set DataFrame as the Stock Ticker
    globals()[stock] = DataReader(stock, 'yahoo', start, end, session=session)
## Quick note: Using globals() is a sloppy way of setting the DataFrame names, but its simple

## these are from the globals() variables
company_list = [GSIT, ICAD, XAIR, LTRN, ARKK, ARKF, ARKW]

for company, stock_name in zip(company_list, stock_list):
    company["company_name"] = stock_name

## adds all the dataframes into one larger
stocks_df = pd.concat(company_list, axis=0)
## shows a random selection of rows
stocks_df.sample(n=10)

,High,Low,Open,Close,Volume,Adj Close,company_name
Date,,,,,,,
2018-06-19,7.760000,7.610000,7.760000,7.660000,45300.0,7.660000,GSIT
2018-05-30,7.680000,7.370000,7.470000,7.620000,57800.0,7.620000,GSIT
2016-03-31,19.230000,19.129999,19.143999,19.129999,3000.0,17.943487,ARKK
2016-11-15,20.594999,20.594999,20.594999,20.594999,500.0,19.317619,ARKK
2019-04-04,48.459999,47.509998,48.380001,48.130001,366100.0,47.197308,ARKK
2019-03-19,8.420000,7.920000,7.970000,8.220000,47400.0,8.220000,GSIT
2016-06-07,5.980000,5.600000,5.710000,5.670000,7800.0,5.670000,ICAD
2020-05-15,11.000000,10.500000,10.840000,10.680000,267800.0,10.680000,ICAD
2016-11-14,5.100000,5.050000,5.100000,5.090000,12200.0,5.090000,GSIT
2020-04-20,8.380000,7.560000,8.030000,7.900000,442900.0,7.900000,XAIR

In [16]:
for name in stock_list:
    print(name, len(stocks_df[stocks_df.company_name==name]['Adj Close'].values))

GSIT 1260
ICAD 1260
XAIR 677
LTRN 174
ARKK 1260
ARKF 515
ARKW 1260