In [1]:
import pandas as pd
import pycaret

In [4]:
df = pd.read_pickle("['AAPL']_daily.pkl")
display(df)
display(df.info())
display(df.describe)

              AAPL                                                   \
              open    high      low   close     volume open_10_mean
2001-04-02   22.09   22.66   21.400   21.59    6087700      22.0900
2001-04-03   21.36   21.40   20.130   20.24    6583700      21.7250
2001-04-04   19.76   20.25   18.750   19.50   12240800      21.0700
2001-04-05   20.60   22.50   20.000   20.87    7977900      20.9525
2001-04-06   20.80   21.04   19.900   20.59    5801600      20.9220
...            ...     ...      ...     ...        ...          ...
2021-03-22  120.33  123.87  120.260  123.39  111912284     121.7930
2021-03-23  123.33  124.24  122.140  122.54   95467142     122.2230
2021-03-24  122.82  122.90  120.065  120.09   88530485     122.3360
2021-03-25  119.54  121.66  119.000  120.59   98844681     122.0360
2021-03-26  120.35  121.48  118.920  121.21   94071234     122.0310

                                                                       ...  \
           open_10_median open_10_std open_10_skew open_10_quantile_5  ...
2001-04-02         22.090         NaN          NaN            22.0900  ...
2001-04-03         21.725    0.516188          NaN            21.3965  ...
2001-04-04         21.360    1.191763    -1.030177            19.9200  ...
2001-04-05         20.980    1.001045    -0.132993            19.8860  ...
2001-04-06         20.800    0.869609     0.046415            19.9280  ...
...                   ...         ...          ...                ...  ...
2021-03-22        121.550    2.042711     0.636620           119.4215  ...
2021-03-23        122.115    1.838877     0.530247           120.0935  ...
2021-03-24        122.680    1.837203     0.308882           120.0935  ...
2021-03-25        122.115    2.034531     0.424224           119.7020  ...
2021-03-26        122.115    2.039055     0.423822           119.7020  ...

                                           \
           volume_365_skew_percent_change
2001-04-02                            NaN
2001-04-03                            NaN
2001-04-04                            NaN
2001-04-05                      -0.084775
2001-04-06                       0.125259
...                                   ...
2021-03-22                      -0.006928
2021-03-23                      -0.003089
2021-03-24                      -0.003168
2021-03-25                      -0.005369
2021-03-26                      -0.003508

                                                 \
           volume_365_quantile_5_percent_change
2001-04-02                                  NaN
2001-04-03                             0.004074
2001-04-04                             0.004057
2001-04-05                             0.004041
2001-04-06                            -0.049217
...                                         ...
2021-03-22                             0.000000
2021-03-23                             0.008289
2021-03-24                             0.000000
2021-03-25                             0.000000
2021-03-26                             0.000000

                                                  \
           volume_365_quantile_95_percent_change
2001-04-02                                   NaN
2001-04-03                              0.077402
2001-04-04                              0.780038
2001-04-05                             -0.006315
2001-04-06                             -0.018372
...                                          ...
2021-03-22                              0.000000
2021-03-23                              0.000000
2021-03-24                              0.000000
2021-03-25                              0.000000
2021-03-26                              0.000000

                                                                         \
           volume_365_high_percent_change volume_365_low_percent_change
2001-04-02                            NaN                           NaN
2001-04-03                       0.081476                      0.000000
2001-04-04                       0.859258                      0.000000
2001-04-05                       0.000000                      0.000000
2001-04-06                       0.000000                     -0.046996
...                                   ...                           ...
2021-03-22                       0.000000                      0.000000
2021-03-23                       0.000000                      0.000000
2021-03-24                       0.000000                      0.000000
2021-03-25                       0.000000                      0.000000
2021-03-26                       0.000000                      0.000000

                                                                              \
           volume_365_spread_percent_change week_cos      week_sin  year_cos
2001-04-02                              NaN      1.0  0.000000e+00 -0.012910
2001-04-03                              inf      0.5  8.660254e-01 -0.030120
2001-04-04                        11.405444     -0.5  8.660254e-01 -0.047321
2001-04-05                         0.000000     -1.0  1.224647e-16 -0.064508
2001-04-06                         0.046497     -0.5 -8.660254e-01 -0.081676
...                                     ...      ...           ...       ...
2021-03-22                         0.000000      1.0  0.000000e+00  0.175531
2021-03-23                         0.000000      0.5  8.660254e-01  0.158559
2021-03-24                         0.000000     -0.5  8.660254e-01  0.141540
2021-03-25                         0.000000     -1.0  1.224647e-16  0.124479
2021-03-26                         0.000000     -0.5 -8.660254e-01  0.107381


            year_sin
2001-04-02  0.999917
2001-04-03  0.999546
2001-04-04  0.998880
2001-04-05  0.997917
2001-04-06  0.996659
...              ...
2021-03-22  0.984474
2021-03-23  0.987349
2021-03-24  0.989932
2021-03-25  0.992222
2021-03-26  0.994218

[5028 rows x 464 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 5028 entries, 2001-04-02 to 2021-03-26
Columns: 464 entries, ('AAPL', 'open') to ('AAPL', 'year_sin')
dtypes: float64(463), int64(1)
memory usage: 17.8+ MB

None

<bound method NDFrame.describe of               AAPL                                                   \
              open    high      low   close     volume open_10_mean
2001-04-02   22.09   22.66   21.400   21.59    6087700      22.0900
2001-04-03   21.36   21.40   20.130   20.24    6583700      21.7250
2001-04-04   19.76   20.25   18.750   19.50   12240800      21.0700
2001-04-05   20.60   22.50   20.000   20.87    7977900      20.9525
2001-04-06   20.80   21.04   19.900   20.59    5801600      20.9220
...            ...     ...      ...     ...        ...          ...
2021-03-22  120.33  123.87  120.260  123.39  111912284     121.7930
2021-03-23  123.33  124.24  122.140  122.54   95467142     122.2230
2021-03-24  122.82  122.90  120.065  120.09   88530485     122.3360
2021-03-25  119.54  121.66  119.000  120.59   98844681     122.0360
2021-03-26  120.35  121.48  118.920  121.21   94071234     122.0310

                                                                       ...  \
           open_10_median open_10_std open_10_skew open_10_quantile_5  ...
2001-04-02         22.090         NaN          NaN            22.0900  ...
2001-04-03         21.725    0.516188          NaN            21.3965  ...
2001-04-04         21.360    1.191763    -1.030177            19.9200  ...
2001-04-05         20.980    1.001045    -0.132993            19.8860  ...
2001-04-06         20.800    0.869609     0.046415            19.9280  ...
...                   ...         ...          ...                ...  ...
2021-03-22        121.550    2.042711     0.636620           119.4215  ...
2021-03-23        122.115    1.838877     0.530247           120.0935  ...
2021-03-24        122.680    1.837203     0.308882           120.0935  ...
2021-03-25        122.115    2.034531     0.424224           119.7020  ...
2021-03-26        122.115    2.039055     0.423822           119.7020  ...

                                           \
           volume_365_skew_percent_change
2001-04-02                            NaN
2001-04-03                            NaN
2001-04-04                            NaN
2001-04-05                      -0.084775
2001-04-06                       0.125259
...                                   ...
2021-03-22                      -0.006928
2021-03-23                      -0.003089
2021-03-24                      -0.003168
2021-03-25                      -0.005369
2021-03-26                      -0.003508

                                                 \
           volume_365_quantile_5_percent_change
2001-04-02                                  NaN
2001-04-03                             0.004074
2001-04-04                             0.004057
2001-04-05                             0.004041
2001-04-06                            -0.049217
...                                         ...
2021-03-22                             0.000000
2021-03-23                             0.008289
2021-03-24                             0.000000
2021-03-25                             0.000000
2021-03-26                             0.000000

                                                  \
           volume_365_quantile_95_percent_change
2001-04-02                                   NaN
2001-04-03                              0.077402
2001-04-04                              0.780038
2001-04-05                             -0.006315
2001-04-06                             -0.018372
...                                          ...
2021-03-22                              0.000000
2021-03-23                              0.000000
2021-03-24                              0.000000
2021-03-25                              0.000000
2021-03-26                              0.000000

                                                                         \
           volume_365_high_percent_change volume_365_low_percent_change
2001-04-02                            NaN                           NaN
2001-04-03                       0.081476                      0.000000
2001-04-04                       0.859258                      0.000000
2001-04-05                       0.000000                      0.000000
2001-04-06                       0.000000                     -0.046996
...                                   ...                           ...
2021-03-22                       0.000000                      0.000000
2021-03-23                       0.000000                      0.000000
2021-03-24                       0.000000                      0.000000
2021-03-25                       0.000000                      0.000000
2021-03-26                       0.000000                      0.000000

                                                                              \
           volume_365_spread_percent_change week_cos      week_sin  year_cos
2001-04-02                              NaN      1.0  0.000000e+00 -0.012910
2001-04-03                              inf      0.5  8.660254e-01 -0.030120
2001-04-04                        11.405444     -0.5  8.660254e-01 -0.047321
2001-04-05                         0.000000     -1.0  1.224647e-16 -0.064508
2001-04-06                         0.046497     -0.5 -8.660254e-01 -0.081676
...                                     ...      ...           ...       ...
2021-03-22                         0.000000      1.0  0.000000e+00  0.175531
2021-03-23                         0.000000      0.5  8.660254e-01  0.158559
2021-03-24                         0.000000     -0.5  8.660254e-01  0.141540
2021-03-25                         0.000000     -1.0  1.224647e-16  0.124479
2021-03-26                         0.000000     -0.5 -8.660254e-01  0.107381


            year_sin
2001-04-02  0.999917
2001-04-03  0.999546
2001-04-04  0.998880
2001-04-05  0.997917
2001-04-06  0.996659
...              ...
2021-03-22  0.984474
2021-03-23  0.987349
2021-03-24  0.989932
2021-03-25  0.992222
2021-03-26  0.994218

[5028 rows x 464 columns]>

In [57]:
windl = df.AAPL.close.rolling(window=3, min_periods=1, closed='left')
means = windl.mean()
windr = df.AAPL.close.rolling(window=3, min_periods=1, closed='right')
rights = windr.mean()
windc = df.AAPL.close.rolling(window=1, min_periods=1, closed='both')
c = windc.mean()
targets = pd.DataFrame({'lefts':means, 'rights':rights, 'c':c})
targets

                 lefts      rights        c
2001-04-02         NaN   21.590000   21.590
2001-04-03   21.590000   20.915000   20.915
2001-04-04   20.915000   20.443333   19.870
2001-04-05   20.443333   20.203333   20.185
2001-04-06   20.203333   20.320000   20.730
...                ...         ...      ...
2021-03-22  121.760000  121.303333  121.690
2021-03-23  121.303333  121.973333  122.965
2021-03-24  121.973333  122.006667  121.315
2021-03-25  122.006667  121.073333  120.340
2021-03-26  121.073333  120.630000  120.900

[5028 rows x 3 columns]

In [71]:
# display(pd.concat([pd.DataFrame(wind) for wind in windl], keys=df.columns))
# pd.

                          close
AAPL high     2001-04-02  21.59
     low      2001-04-02  21.59
              2001-04-03  20.24
     close    2001-04-02  21.59
              2001-04-03  20.24
...                         ...
     year_cos 2003-02-04  14.60
              2003-02-05  14.45
     year_sin 2003-02-04  14.60
              2003-02-05  14.45
              2003-02-06  14.43

[1386 rows x 1 columns]

In [54]:
pd.DataFrame(windc)

,2001-04-02,2001-04-03,2001-04-04,2001-04-05,2001-04-06,2001-04-09,2001-04-10,2001-04-11,2001-04-12,2001-04-16,...,2021-03-15,2021-03-16,2021-03-17,2021-03-18,2021-03-19,2021-03-22,2021-03-23,2021-03-24,2021-03-25,2021-03-26
close,21.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
close,21.59,20.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
close,NaN,20.24,19.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
close,NaN,NaN,19.5,20.87,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
close,NaN,NaN,NaN,20.87,20.59,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
close,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,119.99,123.39,NaN,NaN,NaN,NaN
close,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,123.39,122.54,NaN,NaN,NaN
close,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,122.54,120.09,NaN,NaN
close,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.09,120.59,NaN
close,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.59,121.21